[Unit]
Description=Greenboot Rollback trigger
DefaultDependencies=no
Before=ostree-finalize-staged.service
RequiresMountsFor=/boot
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/greenboot/greenboot set-rollback-trigger
PrivateMounts=yes

[Install]
RequiredBy=ostree-finalize-staged.service
